-r requirements.txt

# --------------------------------------------------------------------- Qualité
ruff==0.12.2

# ----------------------------------------------------------------------- Tests
pytest==8.4.1
pytest-django==4.11.1
pytest-cov==6.2.1
requests-mock==1.12.1
